.contHeader {
  width: 100%;
  margin: auto;
  padding: 10px 0px;
  background: #1d1d1d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
.contHeader .contHeader__logo {
  margin-left: 20px;
  width: 140px;
}
.contHeader .contHeader__menu {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contHeader .contHeader__menu .menu__ul {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contHeader .contHeader__menu .menu__ul .menu__ul__li {
  width: auto;
  padding: 8px 38px;
  margin-left: 10px;
  list-style: none;
  text-align: center;
  transition: 0.5s all;
}
.contHeader .contHeader__menu .menu__ul .menu__ul__li .item {
  text-transform: lowercase;
  color: white;
  font-family: poppins;
  text-decoration: none;
}
.contHeader .contHeader__menu .menu__ul .menu__ul__li:hover {
  background: rgb(72, 72, 72);
}
.contHeader .contHeader__menu .menu__ul .menu__ul__li:hover .item {
  color: white;
}
.contHeader .contHeader__btnes {
  margin-right: 20px;
  width: auto;
}
.contHeader .contHeader__btnes .btnes__btn1 {
  padding: 10px 40px;
  border: none;
  background: rgb(37, 37, 37);
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 10px;
  transition: 0.5s all;
}
.contHeader .contHeader__btnes .btnes__btn1:hover {
  background: #C0C0C0;
  color: #1d1d1d;
}

/*
contBanner
contBanner__baseDescripcion
contBanner__baseFigura
*/
.contBanner {
  margin-top: 120px;
  padding: 180px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.contBanner .contBanner__baseDescripcion {
  width: 600px;
  margin-left: 20px;
}
.contBanner .contBanner__baseDescripcion .contBanner__title {
  font-size: 100px;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: center;
  color: #1d1d1d;
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  font-style: normal;
}
.contBanner .contBanner__baseDescripcion .contBanner__descripcion {
  margin-top: 30px;
  color: #1d1d1d;
  font-size: 22px;
  text-align: center;
}
.contBanner .contBanner__baseDescripcion .contBanner__btnes {
  width: auto;
  margin-top: 50px;
  text-align: center;
}
.contBanner .contBanner__baseDescripcion .contBanner__btnes .btnes__btn3 {
  margin-right: 15px;
  padding: 10px 60px;
  border: 2px solid #1d1d1d;
  color: #FFFFFF;
  background: #1d1d1d;
  transition: 0.2s ease-in-out;
}
.contBanner .contBanner__baseDescripcion .contBanner__btnes .btnes__btn3:hover {
  border: 2px solid #FFFFFF;
  background: #C0C0C0;
  color: #1d1d1d;
  cursor: pointer;
}
.contBanner .contBanner__baseFigura {
  margin-right: 20px;
  width: 650px;
}

/*
contBarraSpontsort
figura
*/
.contBarraSpontsort {
  width: 100%;
  padding: 30px 0px;
  margin: 0px auto;
  background: rgba(239, 239, 239, 0.826);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.contBarraSpontsort .figura {
  width: 180px;
}

/*
contBlogAutomotriz
contBlogBloque
BlogBloqueImage
BlogBloqueTitle
BlogBloqueTexto
*/
.contBlogAutomotriz {
  margin-top: 50px;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.contBlogAutomotriz .contBlogBloque {
  width: 400px;
  height: 450px;
  padding: 30px 35px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px #C0C0C0;
}
.contBlogAutomotriz .contBlogBloque .BlogBloqueImage {
  width: 120px;
  margin: auto;
}
.contBlogAutomotriz .contBlogBloque .BlogBloqueTitle {
  margin-top: 18px;
  width: auto;
  height: auto;
  text-align: center;
  line-height: 35px;
  color: #C0C0C0;
  font-size: 32px;
}
.contBlogAutomotriz .contBlogBloque .BlogBloqueTexto {
  margin-top: 30px;
  color: #1d1d1d;
  text-align: center;
}
.contBlogAutomotriz .contBlogBloque .line {
  width: 200px;
  height: 4px;
  background: #C0C0C0;
  border: none;
  margin: 50px auto;
}

/*
contNuevosVehiculos
nuevosVehiculosImage
nuevosVehiculosImageTextoDes
nuevosVehiculosImageTextoDes__title
nuevosVehiculosImageTextoDes__texto
nuevosVehiculosImageTextoDes__btn
*/
.contNuevosVehiculos {
  width: 100%;
  margin: 50px auto;
  padding: 80px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contNuevosVehiculos .nuevosVehiculosImage {
  width: 700px;
}
.contNuevosVehiculos .nuevosVehiculosImageTextoDes {
  width: 450px;
  padding: 10px 0px;
}
.contNuevosVehiculos .nuevosVehiculosImageTextoDes .nuevosVehiculosImageTextoDes__title {
  color: #1d1d1d;
  font-size: 45px;
  font-weight: 500;
}
.contNuevosVehiculos .nuevosVehiculosImageTextoDes .nuevosVehiculosImageTextoDes__texto {
  margin-top: 20px;
  color: #1d1d1d;
}
.contNuevosVehiculos .nuevosVehiculosImageTextoDes .nuevosVehiculosImageTextoDes__btn {
  margin-top: 30px;
  padding: 10px 50px;
  border: none;
  background: #1d1d1d;
  color: #FFFFFF;
  transition: 0.2s all;
}
.contNuevosVehiculos .nuevosVehiculosImageTextoDes .nuevosVehiculosImageTextoDes__btn:hover {
  background: #C0C0C0;
  color: #1d1d1d;
  cursor: pointer;
}

/*
contviejosVehiculos
viejosVehiculosImage
viejosVehiculosImageTextoDes
viejosVehiculosImageTextoDes__title
viejosVehiculosImageTextoDes__texto
viejosVehiculosImageTextoDes__btn
*/
.contViejosVehiculos {
  width: 100%;
  margin: 50px auto;
  padding: 80px 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.contViejosVehiculos .viejosVehiculosImage {
  width: 800px;
}
.contViejosVehiculos .viejosVehiculosImageTextoDes {
  width: 450px;
  padding: 10px 0px;
}
.contViejosVehiculos .viejosVehiculosImageTextoDes .viejosVehiculosImageTextoDes__title {
  color: #1d1d1d;
  font-size: 45px;
  font-weight: 500;
}
.contViejosVehiculos .viejosVehiculosImageTextoDes .viejosVehiculosImageTextoDes__texto {
  margin-top: 20px;
  color: #1d1d1d;
}
.contViejosVehiculos .viejosVehiculosImageTextoDes .viejosVehiculosImageTextoDes__btn {
  margin-top: 30px;
  padding: 10px 50px;
  border: none;
  background: #1d1d1d;
  color: #FFFFFF;
  transition: 0.2s all;
}
.contViejosVehiculos .viejosVehiculosImageTextoDes .viejosVehiculosImageTextoDes__btn:hover {
  background: #C0C0C0;
  color: #1d1d1d;
  cursor: pointer;
}

/*
contPartesVehiculos
contPartesVehiculos__title
contPartesVehiculos__text
contPartesVehiculos__section
partesBlokA
partesBlokA__cuadro
PartesImagen
*/
.contPartesVehiculos {
  width: 100%;
  padding: 10px 0px;
  background: thistle;
}
.contPartesVehiculos .contPartesVehiculos__title {
  font-size: 80px;
  color: #1d1d1d;
  font-weight: 600;
  text-align: center;
}
.contPartesVehiculos .contPartesVehiculos__text {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
}
.contPartesVehiculos .contPartesVehiculos__section {
  margin: 80px auto;
  width: 90%;
  padding: 50px 0px;
  background: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA {
  width: 300px;
  height: 600px;
  padding: 10px 0px;
  background: rgb(106, 102, 92);
  position: relative;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokA__cuadro {
  width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  background: rgb(194, 193, 193);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: absolute;
  left: 100px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokA__cuadro .iconCars {
  font-size: 50px;
  margin-right: 10px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokA__cuadro .cuadroText {
  font-size: 28px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokB__cuadro {
  width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  background: rgb(194, 193, 193);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 180px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokB__cuadro .iconCars {
  font-size: 50px;
  margin-right: 10px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokB__cuadro .cuadroText {
  font-size: 28px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokC__cuadro {
  width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  background: rgb(194, 193, 193);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 160px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokC__cuadro .iconCars {
  font-size: 50px;
  margin-right: 10px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokC__cuadro .cuadroText {
  font-size: 28px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokD__cuadro {
  width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  background: rgb(194, 193, 193);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: absolute;
  left: 120px;
  bottom: 0;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokD__cuadro .iconCars {
  font-size: 50px;
  margin-right: 10px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokA .partesBlokD__cuadro .cuadroText {
  font-size: 28px;
}
.contPartesVehiculos .contPartesVehiculos__section .PartesImagen {
  width: 700px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB {
  width: 300px;
  height: 600px;
  padding: 10px 0px;
  background: rgb(97, 84, 50);
  position: relative;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokE__cuadro {
  width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  background: rgb(194, 193, 193);
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  position: absolute;
  right: 100px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokE__cuadro .iconCars {
  font-size: 50px;
  margin-right: initial;
  margin-left: 10px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokE__cuadro .cuadroText {
  font-size: 28px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokF__cuadro {
  width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  background: rgb(194, 193, 193);
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  position: absolute;
  top: 150px;
  right: 20px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokF__cuadro .iconCars {
  font-size: 50px;
  margin-left: 10px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokF__cuadro .cuadroText {
  font-size: 28px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokG__cuadro {
  width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  background: rgb(194, 193, 193);
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 160px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokG__cuadro .iconCars {
  font-size: 50px;
  margin-left: 10px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokG__cuadro .cuadroText {
  font-size: 28px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokH__cuadro {
  width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  background: rgb(194, 193, 193);
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 130px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokH__cuadro .iconCars {
  font-size: 50px;
  margin-left: 10px;
}
.contPartesVehiculos .contPartesVehiculos__section .partesBlokB .partesBlokH__cuadro .cuadroText {
  font-size: 28px;
}

/*
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;



  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

main {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */
