.contHeader {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 10px 0px;
  background: teal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contHeader .contHeader__logo {
  margin-left: 20px;
  width: 70px;
}
.contHeader .contHeader__menu {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contHeader .contHeader__menu .menu__ul {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contHeader .contHeader__menu .menu__ul .menu__ul__li {
  width: auto;
  padding: 8px 40px;
  margin-left: 10px;
  list-style: none;
  background: rgba(94, 94, 94, 0.773);
  text-align: center;
  transition: 0.5s all;
}
.contHeader .contHeader__menu .menu__ul .menu__ul__li .item {
  text-transform: lowercase;
  color: white;
  font-family: poppins;
  text-decoration: none;
}
.contHeader .contHeader__menu .menu__ul .menu__ul__li:hover {
  background: rgb(189, 178, 156);
}
.contHeader .contHeader__menu .menu__ul .menu__ul__li:hover .item {
  color: white;
}
.contHeader .contHeader__btnes {
  margin-right: 20px;
  width: auto;
}
.contHeader .contHeader__btnes .btnes__btn1 {
  padding: 10px 40px;
  border: none;
  background: rgb(37, 37, 37);
  color: rgb(255, 255, 255);
  font-family: poppins;
  cursor: pointer;
  margin-left: 10px;
}
.contHeader .contHeader__btnes .btnes__btn1:hover {
  background: rgb(66, 66, 66);
}

/*
contBanner
contBanner__baseDescripcion
contBanner__baseFigura
*/
.contBanner {
  margin: 20px auto;
  padding: 180px 0px;
  width: 100%;
  max-width: 1440px;
  background: rgb(47, 47, 47);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contBanner .contBanner__baseDescripcion {
  width: 480px;
}
.contBanner .contBanner__baseDescripcion .contBanner__title {
  font-size: 80px;
  line-height: 100px;
  letter-spacing: 5px;
  color: turquoise;
  font-family: "Anton", serif;
  font-weight: 300;
  font-style: normal;
}
.contBanner .contBanner__baseDescripcion .contBanner__descripcion {
  margin-top: 25px;
  color: white;
  font-size: 16px;
}
.contBanner .contBanner__baseDescripcion .contBanner__btnes {
  width: auto;
  margin-top: 40px;
}
.contBanner .contBanner__baseDescripcion .contBanner__btnes .btnes__btn3 {
  margin-right: 15px;
  padding: 10px 60px;
  border: 2px solid teal;
  color: white;
  background: transparent;
  transition: 0.2s ease-in-out;
}
.contBanner .contBanner__baseDescripcion .contBanner__btnes .btnes__btn3:hover {
  border: 2px solid black;
  background: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}
.contBanner .contBanner__baseFigura {
  margin-right: 20px;
  width: auto;
}

/*
contBarraSpontsort
figura
*/
.contBarraSpontsort {
  width: 100%;
  padding: 10px 0px;
  background: grey;
}

/*
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;



  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

/*# sourceMappingURL=main.css.map */
