@use "../variables.scss";

/*
contBanner
contBanner__baseDescripcion
contBanner__baseFigura
*/
.contBanner{
    margin: 120px auto;
    padding: 180px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    .contBanner__baseDescripcion{
         width: 600px;
         margin-left: 20px;
         .contBanner__title{
            font-size: 100px;
            line-height: 90px;
            letter-spacing: 5px;
            text-align: center;
            color: variables.$colorNE;
            font-family: "Bebas Neue", serif;
            font-weight: 700;
            font-style: normal;
         }

         .contBanner__descripcion{
            margin-top: 25px;
            color: variables.$colorNE;
            font-size: 22px;
            text-align: center;
         } 
         
         .contBanner__btnes{
            width: auto;
            margin-top: 40px;
            text-align: center;
            .btnes__btn3{
                margin-right: 15px;
                padding: 10px 60px;
                border: 2px solid teal;
                color: white;
                background:transparent;
                transition: 0.2s ease-in-out;
            }

            .btnes__btn3:hover{
                border: 2px solid black;
                background: rgb(255, 255, 255);
                color: black;
                cursor: pointer;
            }
         }
    }


    .contBanner__baseFigura{
        margin-right: 20px;
        width: 650px;
    }
}
