@use "../variables.scss";

/*
contBanner
contBanner__baseDescripcion
contBanner__baseFigura
*/
.contBanner{
    margin: 20px auto;
    padding: 180px 0px;
    width: 100%;
    max-width: 1440px;
    background: rgb(47, 47, 47);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    .contBanner__baseDescripcion{
         width: 480px;
         .contBanner__title{
            font-size: 60px;
            font-family: poppins;
            line-height: 70px;
            letter-spacing: 2px;
            color: turquoise;
         }

         .contBanner__descripcion{
            margin-top: 20px;
            color: white;
            font-size: 16px;
            font-family: poppins;
         } 
         
         .contBanner__btnes{
            width: auto;
            margin-top: 40px;
            .btnes__btn3{
                margin-right: 10px;
                padding: 10px 60px;
                border: 2px solid teal;
                color: white;
                background:transparent;
                transition: 0.2s ease-in-out;
            }

            .btnes__btn3:hover{
                border: 2px solid black;
                background: rgb(255, 255, 255);
                color: black;
                cursor: pointer;
            }
         }
    }


    .contBanner__baseFigura{
        margin-right: 20px;
        width: auto;
    }
}
