@use "../variables.scss";


.contHeader{
    width: 100%;
    margin: auto;
    padding: 10px 0px;
    background: teal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    .contHeader__logo{
        margin-left: 20px;
        width: 70px;
    }

    .contHeader__menu{
        width:auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .menu__ul{
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .menu__ul__li{
                width:auto;
                padding: 8px 40px;
                margin-left: 10px;
                list-style: none;
                background:transparent;
                text-align: center;
                transition: 0.5s all ; 

                .item{
                    text-transform: lowercase;
                    color:white;
                    font-family: poppins;
                    text-decoration: none;
                }
            }
            .menu__ul__li:hover{
                background: rgb(72, 72, 72);
                .item{
                    color:white;
                }
            }
        }
        
    }

    .contHeader__btnes{
        margin-right: 20px;
        width:auto;
        .btnes__btn1{
            padding: 10px 40px;
            border: none;
            background: rgb(37, 37, 37);
            color: rgb(255, 255, 255);
            font-family: poppins;
            cursor: pointer;
            margin-left: 10px;
        }
        .btnes__btn1:hover{
            background: rgb(66, 66, 66);
        }
    }
}
