@use "../variables.scss";



/*
contSection
    contSectionBloqueA
    BtnA
    BtnB
contSectionBloqueB
    sectionB
    sectionName
    sectionApellido
    sectionCorreo
    sectionPhone

*/


.contSection{
    width: 90%;
    max-width: 1440px;
    padding: 20px 0px;
    margin: auto;
    background: rgb(82, 76, 76);
    .contSectionBloqueA{
        width: 500px;
        padding: 10px 0px;
        .Btn{
            padding: 10px 30px;
            background: rgb(186, 29, 29);
            color: white;
            border: none;
        }.Btn:hover{
            cursor: pointer;
        }
    }

    .contSectionBloqueB{
        width:600px;
        margin: 20px auto;
        padding: 20px;
        background: rgb(197, 197, 197);
        .sectionB{
            width: 100%;
            padding: 10px 0px;
            background: rgb(144, 144, 144);
            .text{
                padding: 10px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: black;
                font-size: 30px;
            }
        }
    }
}