@use "../variables.scss";


/*
contBarraSpontsort
figura
*/

.contBarraSpontsort{
    width: 90%;
    margin: auto;
    background: rgb(242, 242, 242);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .figura{
        width: 150px;
    }
}